<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCv8KQa6qYJ0K6O2eSy2t_Xd3K3zxKMec</string>
	<key>GCM_SENDER_ID</key>
	<string>913545962230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.videotrade.shopot.iosApp</string>
	<key>PROJECT_ID</key>
	<string>shopot-7429b</string>
	<key>STORAGE_BUCKET</key>
	<string>shopot-7429b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913545962230:ios:cb4f6ffec881a9421482d7</string>
</dict>
</plist>