<vector xmlns:android="http://schemas.android.com/apk/res/android"
    android:width="28dp"
    android:height="18dp"
    android:viewportWidth="28"
    android:viewportHeight="18">
  <path
      android:pathData="M0,0h28v3h-28z"
      android:fillColor="#000000"/>
  <path
      android:pathData="M0,7.5h28v3h-28z"
      android:fillColor="#000000"/>
  <path
      android:pathData="M0,15h28v3h-28z"
      android:fillColor="#000000"/>
</vector>
